# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/
!*Makefile*

# IDE stuff
.idea/
.vscode/

cmake-build-debug/
.DS_Store
./src/baseline2/.vs

*.out
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz